.container {
  display: flex;
  flex: 1;
  padding: 1.5rem;
  gap: 2rem;
}

main {
  flex: 1;
  background: linear-gradient(var(--fondo-main));
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/** Sangría*/
main li > ol {
  padding-left: 1rem;
}
main ul {
  padding-left: 1rem;
}